.container {
  max-width: 700px;
  margin: 70px auto;
}
body {
  background-color: black;
}
video {
  max-width: 700px;
  margin: 0 auto;
  border-radius: 40px;
}
h4 {
  position: absolute;
  font-size: 50px;
  color: aquamarine;
  top: 200px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 40px;
}
h2 {
  color: #14f195;
}
p {
  color: white;
}
